
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42.4rem;
}.admin-Pss {
  white-space: nowrap;
  width: 100%;
  height: 16.2rem;
  font-size: 12.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #000000;
  font-family: Outfit, 'Source Sans Pro';
}
