
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.daftar-event-7Qq {
  box-sizing: border-box;
  padding: 0rem 0.1rem 10.2rem 0.1rem;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:1afc82b811bf20ae960fb4389253ce4fc6ff5476');
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-color: #fffbfb;

  .status-bar-kih {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 1.3rem 2rem 0rem;
    width: 39.9rem;
    height: 3.3rem;
  }
  .auto-group-bkab-fDP {
    margin: 0rem 20.5rem 4.1rem 0rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .vector-1gZ {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.091rem 0.337rem 0rem;
      width: 1.0092rem;
      height: 1.5633rem;
    }
    .detil-event-H8H {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.175;
      color: #2b461f;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 0.2rem;
    }
    .imageprocessing20200511-27036-12tzbe3-1-mZF {
      margin-bottom: 0.1rem;
      width: 2.7rem;
      height: 2.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .image-10-p1j {
    width: 37.5rem;
    height: 18.4rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0.1rem 3.8rem 0rem;
  }
  .auto-group-1dh5-W9T {
    margin: 0rem 3.1rem 2.7rem 3.1rem;
    width: calc(100% - 6.2rem);
    height: 5.3rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-50-tvh {
      height: 5.3rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(201, 211, 191, 0.8899999857);
      border-radius: 4rem;
      width: 35rem;
    }
    .pengajian-umum-1-muharram-XTs {
      height: 2.4rem;
      top: 1.4rem;
      font-size: 2rem;
      color: #2b461f;
      width: 28.2rem;
      left: 3.7rem;
      font-weight: 700;
      line-height: 1.175;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
  }
  .auto-group-pmsy-Amj {
    margin: 0 3.1rem;
    box-sizing: border-box;
    background-color: #ffffff;
    flex-shrink: 0;
    padding: 1.1rem 2.1rem 2.2rem 2.2rem;
    width: calc(100% - 6.2rem);
    height: 21rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 4rem;

    .mari-kita-bersama-sama-merenungkan-makna-dan-hikmah-dalam-awal-tahun-hijriyah-yang-baru-jangan-lewatkan-kesempatan-untuk-mendapatkan-inspirasi-dan-pengetahuan-ayo-bergabunglah-bersama-kami-untuk-merayakan-momen-istimewa-ini-pada-hari-tanggal-kamis-19-juli-2023-pukul-6-30-wib-tempat-halaman-depan-masjid-liceria-nHK {
      max-width: 30.7rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.26;
      color: #000000;
      font-family: Outfit, 'Source Sans Pro';
    }
  }
}
