
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.7rem;
}.headline-3-mrD {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #ffffff;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  height: 2.3rem;
}
