
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.input-kajian-online-B9F {
  position: relative;
  background-color: #87957a;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem 1.9rem 6.6rem 1.4rem;
  width: 100%;
  overflow: hidden;
  align-items: center;

  .status-bar-KPs {
    height: 3.3rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 2.5rem;
    width: 38.1rem;
  }
  .auto-group-twfu-oZw {
    width: calc(100% - 22.8rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 21.1rem 6.4rem 1.7rem;

    .vector-tbP {
      flex-shrink: 0;
      margin: 0.163rem 1.091rem 0rem 0rem;
      width: 1.0092rem;
      height: 1.5633rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
    }
    .jadwal-kajian-ZBj {
      font-weight: 700;
      line-height: 1.175;
      color: #2b461f;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
    }
  }
  .auto-group-uehh-MNV {
    display: flex;
    align-items: center;
    border-radius: 10rem;
    margin: 0rem 0rem 2.4rem 24.8rem;
    color: #607548;
    height: 4.4rem;
    font-weight: 900;
    font-family: Outfit, 'Source Sans Pro';
    justify-content: center;
    background-color: #c9d3bf;
    flex-shrink: 0;
    width: 11.5rem;
    line-height: 1.26;
    white-space: nowrap;
    font-size: 2rem;
  }
  .component-14-T49 {
    background-color: #fffbfb;
    margin: 0rem 1.6rem 5.8rem 2.7rem;
    justify-content: center;
    font-family: Outfit, 'Source Sans Pro';
    display: flex;
    border-radius: 4.5rem;
    flex-shrink: 0;
    width: calc(100% - 4.3rem);
    height: 15.5rem;
    filter: blur(0.2rem);
    line-height: 1.26;
    color: #6e6e6e;
    white-space: nowrap;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .component-13-Q7o {
    width: calc(100% - 4.3rem);
    font-family: Outfit, 'Source Sans Pro';
    background-color: #fffcfc;
    border-radius: 10rem;
    margin: 0rem 1.6rem 1.7rem 2.7rem;
    font-weight: 400;
    line-height: 1.26;
    justify-content: center;
    height: 6.4rem;
    color: #6e6e6e;
    flex-shrink: 0;
    font-size: 1.4rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  .auto-group-cbsq-Ke5 {
    line-height: 1.26;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 1.6rem 5.3rem 2.7rem;
    width: calc(100% - 4.3rem);
    height: 6.4rem;
    font-weight: 400;
    justify-content: center;
    color: #6e6e6e;
    background-color: #fffcfc;
    font-size: 1.4rem;
    font-family: Outfit, 'Source Sans Pro';
    display: flex;
    align-items: center;
    border-radius: 10rem;
  }
  .component-16-tah {
    margin: 0rem 13.9rem 0rem 14.3rem;
    background-color: #607548;
    font-size: 1.5rem;
    color: #ffffff;
    white-space: nowrap;
    flex-shrink: 0;
    height: 4rem;
    font-family: Poppins, 'Source Sans Pro';
    display: flex;
    justify-content: center;
    border-radius: 10rem;
    width: calc(100% - 28.2rem);
    font-weight: 500;
    line-height: 1.5;
    align-items: center;
  }
}
