
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.input-event-Z9f {
  background-color: #87957a;
  width: 100%;
  height: 73.6rem;
  position: relative;
  overflow: hidden;

  .status-bar-WDK {
    width: 38.1rem;
    height: 3.3rem;
    position: absolute;
    left: 1.4rem;
    top: 0.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-zadz-zuB {
    position: absolute;
    left: 3.1rem;
    top: 6.3rem;
    display: flex;
    align-items: center;
    width: 14.9rem;
    height: 2.4rem;

    .auto-group-eufq-2qs {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.163rem 1.091rem 0rem 0rem;
      width: 1.0092rem;
      height: 1.5633rem;
    }
    .jadwal-event-5ZF {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.175;
      color: #2b461f;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .rectangle-85-mws {
    height: 4.4rem;
    position: absolute;
    left: 26.6rem;
    top: 13.7rem;
    width: 11.5rem;

    .rectangle-85-4AH {
      width: 100%;
      height: 4.4rem;
      cursor: pointer;
      background-color: #c9d3bf;
      border-radius: 10rem;
    }
  }
  .more-y2M {
    left: 29.4rem;
    top: 14.7rem;
    line-height: 1.26;
    color: #607548;
    white-space: nowrap;
    width: 6rem;
    height: 2.6rem;
    position: absolute;
    font-size: 2rem;
    font-weight: 900;
    font-family: Outfit, 'Source Sans Pro';
  }
  .component-15-Bu7 {
    height: 15.5rem;
    position: absolute;
    left: 3.8rem;
    top: 20.7rem;
    width: 33.8rem;

    .component-15-T5w {
      font-weight: 400;
      border-radius: 4.5rem;
      align-items: center;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      filter: blur(0.2rem);
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      background-color: #fffbfb;
      font-size: 1.4rem;
      color: #6e6e6e;
    }
  }
  .component-13-22Z {
    height: 6.4rem;
    position: absolute;
    left: 3.6rem;
    top: 41.4rem;
    width: 33.8rem;

    .component-13-huP {
      width: 100%;
      background-color: #fffcfc;
      height: 100%;
      line-height: 1.26;
      color: #6e6e6e;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      justify-content: center;
      border-radius: 10rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
    }
  }
  .auto-group-xfab-2qB {
    width: 33.8rem;
    line-height: 1.26;
    border-radius: 10rem;
    justify-content: center;
    left: 3.6rem;
    font-weight: 400;
    color: #6e6e6e;
    top: 49.5rem;
    white-space: nowrap;
    background-color: #fffcfc;
    font-family: Outfit, 'Source Sans Pro';
    display: flex;
    align-items: center;
    height: 6.4rem;
    position: absolute;
    font-size: 1.4rem;
  }
  .component-16-yP3 {
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    align-items: center;
    width: 9.9rem;
    height: 4rem;
    background-color: #607548;
    border-radius: 10rem;
    left: 15.9rem;
    font-size: 1.5rem;
    white-space: nowrap;
    position: absolute;
    font-family: Poppins, 'Source Sans Pro';
    justify-content: center;
    top: 62.8rem;
    color: #ffffff;
  }
}
