
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.3rem;
}.jadwal-imam-muadzin-fSd {
  width: 100%;
  height: 73.6rem;
  position: relative;
  background-position: center;
  background-image: url('REPLACE_IMAGE:1afc82b811bf20ae960fb4389253ce4fc6ff5476');
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #87957a;

  .status-bar-kiy {
    object-fit: contain;
    vertical-align: top;
    width: 39.8rem;
    height: 3.3rem;
    position: absolute;
    left: 0.1rem;
    top: 0;
  }
  .auto-group-ndtf-Ffj {
    width: 36.8rem;
    height: 9.7rem;
    position: absolute;
    left: 2.9rem;
    top: 32.5rem;

    .ashar-ehs {
      font-family: Raleway, 'Source Sans Pro';
      height: 2.4rem;
      position: absolute;
      left: 0.8rem;
      top: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.175;
      width: 5.5rem;
      white-space: nowrap;
      color: #2b461f;
    }
    .rectangle-52-JnR {
      border: solid 0.1rem #000000;
      border-radius: 2rem;
      width: 35.6rem;
      height: 7.2rem;
      position: absolute;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #c9d3bf;
      left: 0;
      top: 2.5rem;
      box-sizing: border-box;
    }
    .group-2-sj3 {
      font-family: Outfit, 'Source Sans Pro';
      display: flex;
      left: 1.8379rem;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.26;
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      width: 5.9195rem;
      border-radius: 2.5rem;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      background-color: #607548;
      top: 3.6rem;
      font-weight: 400;
    }
    .rectangle-53-Abf {
      left: 19.4rem;
      top: 3.6rem;
      background-color: #607548;
      border-radius: 2.5rem;
      width: 6.5rem;
      height: 2.4rem;
      position: absolute;
    }
    .muadzin-GPo {
      font-size: 1.4rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.3rem;
      text-align: center;
      left: 20.05rem;
      top: 3.8rem;
      line-height: 1.26;
      height: 1.8rem;
      position: absolute;
    }
    .line-6-HZo {
      position: absolute;
      left: 17.8rem;
      top: 2.9rem;
      background-color: #000000;
      width: 0.1rem;
      height: 6.1rem;
    }
    .ustadz-eddu-ZXK {
      position: absolute;
      font-weight: 300;
      line-height: 1.26;
      color: #010101;
      font-family: Outfit, 'Source Sans Pro';
      width: 7rem;
      height: 1.6rem;
      font-size: 1.2rem;
      white-space: nowrap;
      left: 2.1rem;
      top: 6.9rem;
    }
    .musthofa-CKP {
      font-weight: 300;
      line-height: 1.26;
      color: #010101;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.6rem;
      position: absolute;
      left: 19.9rem;
      top: 6.9rem;
      font-size: 1.2rem;
      width: 5.1rem;
    }
    .a2701c4cdc3e5e9dcfd6fc87abdd5f37-3-4sP {
      object-fit: cover;
      vertical-align: top;
      width: 3.4rem;
      height: 6.2rem;
      position: absolute;
      left: 33.4rem;
      top: 0;
    }
  }
  .auto-group-falk-6ZB {
    align-items: center;
    width: 25.4064rem;
    height: 2.4rem;
    position: absolute;
    left: 2.6936rem;
    top: 5.7rem;
    display: flex;

    .vector-mvD {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.163rem 1.1rem 0rem 0rem;
      width: 1.0068rem;
      height: 1.5633rem;
    }
    .jadwal-imam-muadzin-fVo {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.175;
      color: #2b461f;
      font-family: Raleway, 'Source Sans Pro';
    }
  }
  .auto-group-zoym-Ui9 {
    width: 35.7rem;
    height: 8.9rem;
    position: absolute;
    left: 3.7rem;
    top: 10.2rem;
    display: flex;
    align-items: flex-end;

    .auto-group-lpp5-y97 {
      margin: 0rem 7.8rem 0.5rem 0rem;
      width: 9.1rem;
      flex-shrink: 0;

      .shubuh-QkD {
        margin-bottom: 1.1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.175;
        color: #2b461f;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-6-sth {
        font-size: 1.4rem;
        display: flex;
        height: 2.4rem;
        align-items: center;
        background-color: #607548;
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 2.337rem 0.9rem 0.844rem;
        width: calc(100% - 3.1805rem);
        text-align: center;
        font-weight: 400;
        line-height: 1.26;
        color: #ffffff;
        border-radius: 2.5rem;
        justify-content: center;
      }
      .ustadz-solikun-C3o {
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.1rem;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.26;
        color: #010101;
      }
    }
    .line-10-thK {
      margin-right: 1.4rem;
      width: 0.1rem;
      height: 6.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
    .auto-group-cjf9-oZP {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 6.8rem 0.5rem 0rem;

      .auto-group-v5zu-2h3 {
        background-color: #607548;
        border-radius: 2.5rem;
        margin-bottom: 0.9rem;
        width: 6.5rem;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        align-items: center;
        height: 2.4rem;
        font-family: Outfit, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.26;
        white-space: nowrap;
        justify-content: center;
      }
      .musdalifhah-zXP {
        font-family: Outfit, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.5rem;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.26;
        color: #010101;
      }
    }
    .a2701c4cdc3e5e9dcfd6fc87abdd5f37-1-Tfs {
      flex-shrink: 0;
      margin-bottom: 2.7rem;
      width: 3.4rem;
      height: 6.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-45ik-LzZ {
    width: 36.9rem;
    height: 9.7rem;
    position: absolute;
    left: 2.8rem;
    top: 21.3rem;

    .dzuhur-QzR {
      position: absolute;
      top: 0;
      font-weight: 700;
      line-height: 1.175;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.9rem;
      left: 0.9rem;
      font-size: 2rem;
      color: #2b461f;
      height: 2.4rem;
    }
    .rectangle-58-Dgy {
      height: 7.2rem;
      top: 2.5rem;
      box-sizing: border-box;
      border: solid 0.1rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #c9d3bf;
      border-radius: 2rem;
      width: 35.6rem;
      position: absolute;
      left: 0;
    }
    .group-5-Coo {
      font-family: Outfit, 'Source Sans Pro';
      left: 1.8408rem;
      line-height: 1.26;
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      border-radius: 2.5rem;
      height: 2.4rem;
      font-size: 1.4rem;
      font-weight: 400;
      top: 3.6rem;
      align-items: center;
      display: flex;
      background-color: #607548;
      width: 5.9195rem;
      position: absolute;
      text-align: center;
    }
    .rectangle-59-LoX {
      left: 19.4rem;
      top: 3.6rem;
      background-color: #607548;
      border-radius: 2.5rem;
      width: 6.5rem;
      height: 2.4rem;
      position: absolute;
    }
    .muadzin-1Ps {
      width: 5.3rem;
      position: absolute;
      left: 20.05rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.26;
      height: 1.8rem;
      top: 3.8rem;
      text-align: center;
      color: #ffffff;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-9-cuT {
      background-color: #000000;
      width: 0.1rem;
      height: 6.1rem;
      position: absolute;
      left: 17.9rem;
      top: 2.9rem;
    }
    .ustadz-bohar-XmX {
      height: 1.6rem;
      position: absolute;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      width: 7.6rem;
      top: 6.9rem;
      font-size: 1.2rem;
      font-weight: 300;
      color: #010101;
      white-space: nowrap;
      left: 2.1rem;
    }
    .musthofa-Tob {
      top: 6.9rem;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.26;
      white-space: nowrap;
      height: 1.6rem;
      position: absolute;
      left: 19.9rem;
      color: #010101;
      font-family: Outfit, 'Source Sans Pro';
      width: 5.1rem;
    }
    .a2701c4cdc3e5e9dcfd6fc87abdd5f37-2-JpD {
      object-fit: cover;
      vertical-align: top;
      width: 3.4rem;
      height: 6.2rem;
      position: absolute;
      left: 33.5rem;
      top: 0;
    }
  }
  .auto-group-t1to-C8u {
    width: 36.7rem;
    height: 9.8rem;
    position: absolute;
    left: 3rem;
    top: 43.6rem;

    .maghrib-cTX {
      white-space: nowrap;
      width: 7.9rem;
      left: 0.7rem;
      top: 0;
      font-weight: 700;
      line-height: 1.175;
      color: #2b461f;
      font-family: Raleway, 'Source Sans Pro';
      height: 2.4rem;
      position: absolute;
      font-size: 2rem;
    }
    .rectangle-54-hE5 {
      background-color: #c9d3bf;
      width: 35.6rem;
      position: absolute;
      left: 0;
      top: 2.6rem;
      border-radius: 2rem;
      height: 7.2rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .group-3-JzZ {
      top: 3.7rem;
      color: #ffffff;
      font-weight: 400;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      display: flex;
      height: 2.4rem;
      position: absolute;
      left: 1.835rem;
      font-size: 1.4rem;
      justify-content: center;
      width: 5.9195rem;
      white-space: nowrap;
      background-color: #607548;
      border-radius: 2.5rem;
      text-align: center;
      align-items: center;
    }
    .rectangle-55-cNy {
      width: 6.5rem;
      height: 2.4rem;
      position: absolute;
      left: 19.4rem;
      top: 3.7rem;
      background-color: #607548;
      border-radius: 2.5rem;
    }
    .muadzin-TuP {
      left: 20.05rem;
      text-align: center;
      color: #ffffff;
      width: 5.3rem;
      height: 1.8rem;
      position: absolute;
      top: 3.9rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-7-UJh {
      background-color: #000000;
      width: 0.1rem;
      height: 6.1rem;
      position: absolute;
      left: 17.8rem;
      top: 3rem;
    }
    .ustadz-ansor-VDo {
      font-size: 1.2rem;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.5rem;
      position: absolute;
      top: 7rem;
      font-weight: 300;
      color: #010101;
      height: 1.6rem;
      left: 2.1rem;
    }
    .musthofa-va1 {
      line-height: 1.26;
      white-space: nowrap;
      height: 1.6rem;
      left: 19.9rem;
      top: 7rem;
      font-size: 1.2rem;
      font-weight: 300;
      color: #010101;
      font-family: Outfit, 'Source Sans Pro';
      width: 5.1rem;
      position: absolute;
    }
    .a2701c4cdc3e5e9dcfd6fc87abdd5f37-4-xmb {
      object-fit: cover;
      vertical-align: top;
      width: 3.4rem;
      height: 6.2rem;
      position: absolute;
      left: 33.3rem;
      top: 0.3rem;
    }
  }
  .auto-group-3suk-QtV {
    left: 3rem;
    top: 54.3rem;
    width: 36.7rem;
    height: 9.9rem;
    position: absolute;

    .isya-Vuw {
      top: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.175;
      white-space: nowrap;
      position: absolute;
      height: 2.4rem;
      left: 0.7rem;
      color: #2b461f;
      font-family: Raleway, 'Source Sans Pro';
      width: 4.1rem;
    }
    .rectangle-56-Zuo {
      top: 2.7rem;
      border: solid 0.1rem #000000;
      border-radius: 2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #c9d3bf;
      width: 35.6rem;
      height: 7.2rem;
      position: absolute;
      left: 0;
      box-sizing: border-box;
    }
    .group-4-M4y {
      color: #ffffff;
      background-color: #607548;
      width: 5.9195rem;
      text-align: center;
      font-weight: 400;
      justify-content: center;
      position: absolute;
      top: 3.8rem;
      font-size: 1.4rem;
      display: flex;
      border-radius: 2.5rem;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.4rem;
      left: 1.835rem;
      align-items: center;
    }
    .rectangle-57-XNm {
      left: 19.4rem;
      top: 3.8rem;
      background-color: #607548;
      border-radius: 2.5rem;
      width: 6.5rem;
      height: 2.4rem;
      position: absolute;
    }
    .muadzin-psf {
      width: 5.3rem;
      height: 1.8rem;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.26;
      color: #ffffff;
      position: absolute;
      left: 20.05rem;
      top: 4rem;
      font-weight: 400;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-8-ebo {
      width: 0.1rem;
      height: 6.1rem;
      position: absolute;
      left: 17.8rem;
      top: 3.1rem;
      background-color: #000000;
    }
    .ustadz-badrol-tFF {
      color: #010101;
      width: 7.9rem;
      position: absolute;
      font-size: 1.2rem;
      font-weight: 300;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.6rem;
      left: 2.1rem;
      top: 7.1rem;
      line-height: 1.26;
    }
    .musthofa-K5f {
      left: 19.9rem;
      top: 7.1rem;
      font-size: 1.2rem;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      width: 5.1rem;
      position: absolute;
      color: #010101;
      white-space: nowrap;
      height: 1.6rem;
      font-weight: 300;
    }
    .a2701c4cdc3e5e9dcfd6fc87abdd5f37-5-Yz1 {
      vertical-align: top;
      width: 3.4rem;
      height: 6.2rem;
      position: absolute;
      left: 33.3rem;
      top: 0.1rem;
      object-fit: cover;
    }
  }
  .rectangle-60-zb7 {
    left: 2.7rem;
    top: 12.6rem;
    width: 35.6rem;
    height: 7.2rem;
    position: absolute;

    .rectangle-60-6e9 {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #c9d3bf;
      border-radius: 2rem;
      width: 100%;
      height: 7.2rem;
    }
  }
}
