
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.jadwal-sholat-XtZ {
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #fffbfb;
  width: 100%;
  height: 73.6rem;
  overflow: hidden;
  background-position: center;
  background-image: url('REPLACE_IMAGE:1afc82b811bf20ae960fb4389253ce4fc6ff5476');

  .status-bar-133 {
    object-fit: contain;
    vertical-align: top;
    width: 39.9rem;
    height: 3.3rem;
    position: absolute;
    left: 0.1rem;
    top: 0;
  }
  .auto-group-axvk-EwP {
    width: 17rem;
    height: 10.2rem;
    position: absolute;
    left: 21.3rem;
    top: 26rem;

    .rectangle-1104-LDj {
      border-radius: 3.5rem;
      width: 17rem;
      height: 10rem;
      position: absolute;
      left: 0;
      top: 0.2rem;
      background-color: #afcb97;
    }
    .rectangle-1105-1Ks {
      top: 0.8rem;
      background-color: #607548;
      border-radius: 3.5rem;
      width: 13rem;
      height: 4.2rem;
      position: absolute;
      left: 2.1rem;
    }
    .imsak-Gmb {
      position: absolute;
      left: 6.1rem;
      font-weight: 500;
      line-height: 1.5;
      color: #ffffff;
      white-space: nowrap;
      width: 6.2rem;
      height: 3rem;
      font-size: 2rem;
      font-family: Poppins, 'Source Sans Pro';
      top: 1.1rem;
      text-align: center;
    }
    .item-0349-wMw {
      color: #607548;
      position: absolute;
      left: 4.4rem;
      top: 5.2rem;
      text-align: center;
      line-height: 1.5;
      white-space: nowrap;
      width: 8.3rem;
      height: 4.5rem;
      font-size: 3rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
    }
    .rectangle-1108-vzZ {
      background-color: #d1decd;
      border-radius: 3.5rem;
      width: 17rem;
      height: 10rem;
      position: absolute;
      left: 0;
      top: 0;
      filter: blur(0.2rem);
    }
    .rectangle-1109-o2m {
      width: 13rem;
      height: 4.2rem;
      position: absolute;
      left: 2.1rem;
      top: 0.8rem;
      background-color: #607548;
      border-radius: 3.5rem;
    }
    .subuh-fqf {
      position: absolute;
      left: 5.25rem;
      text-align: center;
      font-weight: 500;
      color: #ffffff;
      white-space: nowrap;
      width: 6.5rem;
      top: 1.5rem;
      font-size: 2rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      height: 3rem;
    }
    .item-0359-7hf {
      position: absolute;
      line-height: 1.5;
      color: #607548;
      font-family: Poppins, 'Source Sans Pro';
      width: 8.3rem;
      height: 4.5rem;
      text-align: center;
      font-size: 3rem;
      font-weight: 500;
      white-space: nowrap;
      left: 4.8rem;
      top: 5.2rem;
    }
  }
  .group-7-ixM {
    height: 10.9rem;
    position: absolute;
    left: 3.2rem;
    top: 26.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 17rem;

    .rectangle-1106-oyo {
      background-color: #d1decd;
      border-radius: 3.5rem;
      width: 17rem;
      height: 10rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .group-8-tEZ {
      text-align: center;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      width: 13rem;
      left: 2.1rem;
      color: #ffffff;
      white-space: nowrap;
      height: 4.2rem;
      position: absolute;
      top: 1.1rem;
      font-size: 2rem;
      line-height: 1.5;
      display: flex;
      background-color: #607548;
      border-radius: 3.5rem;
    }
    .item-0349-FjK {
      height: 4.5rem;
      left: 4.4rem;
      top: 5.3rem;
      text-align: center;
      font-weight: 500;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      width: 8.3rem;
      font-size: 3rem;
      color: #607548;
      white-space: nowrap;
      position: absolute;
    }
  }
  .auto-group-sqpm-27o {
    top: 52rem;
    display: flex;
    align-items: center;
    width: 35.2rem;
    height: 10.2rem;
    position: absolute;
    left: 3.5rem;

    .auto-group-t1pz-XKT {
      margin-right: 1.2rem;
      width: 17rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-1114-2n1 {
        width: 17rem;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 0.2rem;
        background-color: #afcb97;
        border-radius: 3.5rem;
      }
      .rectangle-1115-4yb {
        border-radius: 3.5rem;
        width: 13rem;
        height: 4.2rem;
        position: absolute;
        left: 2.1rem;
        top: 0.8rem;
        background-color: #607548;
      }
      .imsak-8Tf {
        width: 6.2rem;
        height: 3rem;
        position: absolute;
        top: 1.1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        white-space: nowrap;
        left: 5.5rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-0349-jTT {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.3rem;
        top: 5.2rem;
        line-height: 1.5;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        color: #607548;
        height: 4.5rem;
        position: absolute;
        left: 4.4rem;
      }
      .rectangle-1118-D7j {
        background-color: #d1decd;
        border-radius: 3.5rem;
        width: 17rem;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .rectangle-1119-eD3 {
        height: 4.2rem;
        position: absolute;
        left: 2.1rem;
        top: 0.8rem;
        background-color: #607548;
        border-radius: 3.5rem;
        width: 13rem;
      }
      .maghrib-kWy {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.5rem;
        height: 3rem;
        position: absolute;
        text-align: center;
        color: #ffffff;
        left: 4.35rem;
        top: 1.3rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .item-1727-Aah {
        top: 5.2rem;
        text-align: center;
        font-size: 3rem;
        color: #607548;
        width: 6.9rem;
        position: absolute;
        left: 5.1rem;
        font-weight: 500;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.5rem;
      }
    }
    .auto-group-m58x-o7s {
      width: 17rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-1116-4Zb {
        left: 0;
        top: 0.2rem;
        background-color: #afcb97;
        border-radius: 3.5rem;
        width: 17rem;
        height: 10rem;
        position: absolute;
      }
      .rectangle-1117-jfj {
        width: 13rem;
        height: 4.2rem;
        position: absolute;
        left: 2.1rem;
        top: 0.8rem;
        background-color: #607548;
        border-radius: 3.5rem;
      }
      .imsak-SKF {
        height: 3rem;
        position: absolute;
        text-align: center;
        font-size: 2rem;
        line-height: 1.5;
        white-space: nowrap;
        width: 6.2rem;
        left: 6.1rem;
        top: 1.1rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-0349-5d7 {
        line-height: 1.5;
        white-space: nowrap;
        height: 4.5rem;
        left: 4.4rem;
        top: 5.2rem;
        font-weight: 500;
        color: #607548;
        font-family: Poppins, 'Source Sans Pro';
        width: 8.3rem;
        position: absolute;
        text-align: center;
        font-size: 3rem;
      }
      .rectangle-1120-xS1 {
        background-color: #d1decd;
        border-radius: 3.5rem;
        width: 17rem;
        height: 10rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .rectangle-1121-mPT {
        left: 2.1rem;
        top: 0.8rem;
        background-color: #607548;
        border-radius: 3.5rem;
        width: 13rem;
        height: 4.2rem;
        position: absolute;
      }
      .isya-4dT {
        font-weight: 500;
        color: #ffffff;
        white-space: nowrap;
        width: 4.6rem;
        height: 3rem;
        position: absolute;
        left: 6.4rem;
        top: 1.3rem;
        text-align: center;
        font-size: 2rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-1836-JXo {
        width: 7.4rem;
        left: 4.85rem;
        top: 5.2rem;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.5rem;
        position: absolute;
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: #607548;
      }
    }
  }
  .auto-group-wxoq-LjP {
    top: 39rem;
    display: flex;
    align-items: center;
    width: 35.2rem;
    height: 10rem;
    position: absolute;
    left: 3.2rem;

    .auto-group-up5m-Cmb {
      background-color: #d1decc;
      border-radius: 3.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      height: 100%;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      margin-right: 1.2rem;
      padding: 0.8rem 1.9rem 0.3rem 2.1rem;
      width: 17rem;

      .auto-group-zidr-1DF {
        white-space: nowrap;
        display: flex;
        border-radius: 3.5rem;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        justify-content: center;
        background-color: #607548;
        line-height: 1.5;
        margin-bottom: 0.2rem;
        width: 100%;
        height: 4.2rem;
        text-align: center;
        align-items: center;
      }
      .item-1122-8SH {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        color: #607548;
      }
    }
    .auto-group-23vb-9sB {
      background-color: #d1decc;
      flex-shrink: 0;
      padding: 0.8rem 1.9rem 0.3rem 2.1rem;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 3.5rem;
      box-sizing: border-box;
      width: 17rem;
      height: 100%;
      align-items: center;

      .auto-group-4oes-oB3 {
        margin-bottom: 0.2rem;
        text-align: center;
        font-weight: 500;
        flex-shrink: 0;
        width: 100%;
        height: 4.2rem;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        border-radius: 3.5rem;
        display: flex;
        justify-content: center;
        background-color: #607548;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
      }
      .item-1429-m1P {
        text-align: center;
        font-size: 3rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-weight: 500;
        color: #607548;
      }
    }
  }
  .auto-group-4hwb-C6h {
    width: 15.6rem;
    height: 2.4rem;
    position: absolute;
    left: 2.7rem;
    top: 5.7rem;
    display: flex;
    align-items: center;

    .vector-rS9 {
      margin: 0.163rem 1.091rem 0rem 0rem;
      width: 1.0092rem;
      height: 1.5633rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .jadwal-sholat-HnM {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.175;
      color: #2b461f;
      font-family: Raleway, 'Source Sans Pro';
    }
  }
  .pngtree-illustration-of-islamic-prayer-png-image6623515-1-oEu {
    object-fit: cover;
    vertical-align: top;
    width: 14.7rem;
    height: 12.8rem;
    position: absolute;
    left: 13.9rem;
    top: 10.6rem;
  }
}
