
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.kajian-online-DC9 {
  background-color: #fffbfb;
  height: 73.6rem;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:1afc82b811bf20ae960fb4389253ce4fc6ff5476');
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  overflow: hidden;

  .status-bar-yad {
    left: 0.3rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 39.7rem;
    height: 3.3rem;
    position: absolute;
  }
  .auto-group-6vrx-fyF {
    align-items: center;
    box-sizing: border-box;
    width: 33.2rem;
    top: 33.4rem;
    display: flex;
    padding-right: 0.3rem;
    height: 15.4rem;
    position: absolute;
    left: 4.8rem;

    .image-8-LJh {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 5.1rem;
      width: 14.2rem;
      height: 15.4rem;
    }
    .image-13-oTB {
      vertical-align: top;
      flex-shrink: 0;
      width: 13.6rem;
      height: 15.4rem;
      object-fit: cover;
    }
  }
  .auto-group-tt3q-GLm {
    height: 2.4rem;
    position: absolute;
    left: 2.7rem;
    top: 5.7rem;
    display: flex;
    align-items: center;
    width: 18.2rem;

    .vector-Zqf {
      margin: 0.163rem 1.091rem 0rem 0rem;
      width: 1.0092rem;
      height: 1.5633rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .kajian-online-1hf {
      font-weight: 700;
      line-height: 1.175;
      color: #2b461f;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 0.9rem;
      font-size: 2rem;
    }
    .oip-3-2-5Bj {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2.5rem;
      height: 2.3rem;
      object-fit: cover;
    }
  }
  .auto-group-zwzb-mqF {
    align-items: flex-end;
    width: 32.9rem;
    height: 14.2rem;
    position: absolute;
    left: 4.8rem;
    top: 12.6rem;
    display: flex;

    .image-11-DBT {
      width: 13.9rem;
      height: 14.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 5.4rem;
    }
    .image-12-Vem {
      vertical-align: top;
      flex-shrink: 0;
      width: 13.6rem;
      height: 14rem;
      object-fit: cover;
    }
  }
  .auto-group-hujd-pS9 {
    height: 1.8rem;
    position: absolute;
    left: 5rem;
    top: 28.3rem;
    display: flex;
    align-items: center;
    width: 30.9rem;

    .hikmah-dibalik-musibah-Gow {
      font-family: Outfit, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 400;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.26;
      color: #6e6e6e;
      white-space: nowrap;
      margin-right: 4.2rem;
    }
    .ilmu-sharaf-nahwu-taR {
      flex-shrink: 0;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.26;
      color: #6e6e6e;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-arvh-xaH {
    width: 31.2rem;
    height: 3.6rem;
    position: absolute;
    left: 4.8rem;
    top: 49.8rem;
    display: flex;
    align-items: center;

    .teladan-rasulullah-di-tengah-pandemi-EXo {
      flex-shrink: 0;
      margin-right: 6.1rem;
      max-width: 13.2rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.26;
      color: #6e6e6e;
      font-family: Outfit, 'Source Sans Pro';
    }
    .kajian-minggu-ke-2-tema-fikih-sholat-S85 {
      flex-shrink: 0;
      max-width: 11.9rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.26;
      color: #6e6e6e;
      font-family: Outfit, 'Source Sans Pro';
    }
  }
  .auto-group-6cqj-5wj {
    display: flex;
    align-items: center;
    width: 35.4rem;
    height: 1.6rem;
    position: absolute;
    left: 5rem;
    top: 30.1rem;

    .link-bitly-kajianliveforkomnl-Z6D {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.8rem;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.26;
      color: #4285f4;
      font-family: Outfit, 'Source Sans Pro';
    }
    .link-bitly-kajianliveforkomnl-rLD {
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.26;
      color: #4285f4;
    }
  }
  .auto-group-baw5-WQm {
    left: 4.8rem;
    top: 53.8rem;
    display: flex;
    align-items: center;
    width: 35.6rem;
    height: 1.6rem;
    position: absolute;

    .link-bitly-kajianliveforkomnl-PDf {
      flex-shrink: 0;
      margin-right: 3rem;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.26;
      color: #4285f4;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
    }
    .link-bitly-kajianliveforkomnl-fS5 {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.26;
      color: #4285f4;
      font-family: Outfit, 'Source Sans Pro';
    }
  }
}
