
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.login-phone-number-admin-ZKT {
  width: 100%;
  height: 73.6rem;
  position: relative;
  overflow: hidden;
  background-color: #fffbfb;

  .status-bar-ozV {
    top: 0.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 38.1rem;
    height: 3.3rem;
    position: absolute;
    left: 1.4rem;
  }
  .auto-group-atuk-Uaq {
    align-items: center;
    width: 24.4rem;
    height: 3.8rem;
    position: absolute;
    left: 9.1rem;
    top: 29.6rem;
    display: flex;

    .auto-group-1czo-tPf {
      height: 100%;
      font-weight: 600;
      line-height: 1.26;
      color: #607548;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      width: 12.2rem;
      flex-shrink: 0;
      background-color: #c9d3bf;
      font-family: Outfit, 'Source Sans Pro';
      display: flex;
      font-size: 1.5rem;
    }
    .auto-group-nmo1-6Eq {
      font-family: Outfit, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      width: 12.2rem;
      height: 100%;
      font-size: 1.5rem;
      font-weight: 600;
      background-color: #9eab6b;
      flex-shrink: 0;
      line-height: 1.26;
      color: #fffbfb;
      white-space: nowrap;
      display: flex;
    }
  }
  .auto-group-ghwz-7Qq {
    padding: 2.3rem 1.9rem;
    height: 6.4rem;
    position: absolute;
    line-height: 1.26;
    font-family: Outfit, 'Source Sans Pro';
    font-size: 1.4rem;
    color: #6e6e6e;
    background-color: #c8d3be;
    box-sizing: border-box;
    left: 3.9rem;
    font-weight: 400;
    width: 33.8rem;
    top: 35.6rem;
    white-space: nowrap;
  }
  .auto-group-efcp-Q2Z {
    display: flex;
    align-items: center;
    width: 33.8rem;
    height: 6.4rem;
    left: 3.8rem;
    top: 43.5rem;
    background-color: #c9d3bf;
    box-sizing: border-box;
    padding: 2rem 1.7rem 2rem 2rem;
    position: absolute;

    .password-yE5 {
      margin-right: 21.7rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.26;
      color: #6e6e6e;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .icvisibility48px-Ccd {
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.4rem;
    }
  }
  .auto-group-eyeb-Jff {
    width: 31.6rem;
    position: absolute;
    left: 4.9rem;
    display: flex;
    align-items: center;
    height: 6rem;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: Outfit, 'Source Sans Pro';
    justify-content: center;
    top: 52.5rem;
    line-height: 1.26;
    color: #ffffff;
    white-space: nowrap;
    background-color: #9eab6b;
    border-radius: 10rem;
  }
  .auto-group-cbk1-5Zw {
    top: 5.5rem;
    width: 25.1rem;
    height: 4.1rem;
    position: absolute;
    left: 1.8rem;

    .login-account-mxZ {
      font-family: Raleway, 'Source Sans Pro';
      height: 2.4rem;
      font-size: 2rem;
      left: 0;
      top: 0;
      font-weight: 700;
      line-height: 1.175;
      color: #607548;
      white-space: nowrap;
      width: 14.3rem;
      position: absolute;
    }
    .user-BFb {
      top: 0.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.9rem;
      position: absolute;
      left: 14.6rem;
    }
    .hello-welcome-back-to-your-account--SSR {
      left: 0;
      top: 2.1rem;
      font-size: 1.3rem;
      font-weight: 400;
      color: #626262;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 25.1rem;
      height: 2rem;
      position: absolute;
      line-height: 1.5;
    }
  }
  .auto-group-ukcf-qDf {
    column-gap: 1.3rem;
    align-items: center;
    width: 31.6rem;
    height: 1.6rem;
    position: absolute;
    left: 4.9rem;
    top: 62rem;
    display: flex;

    .vector-4-sRF {
      width: 10.5rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
    }
    .or-sign-up-with-P8h {
      font-weight: 400;
      line-height: 1.26;
      color: #747070;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.2rem;
    }
    .vector-3-Fgh {
      margin-bottom: 0.2rem;
      width: 10.5rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-j2sm-9XB {
    display: flex;
    align-items: flex-end;
    width: 8rem;
    height: 2.3rem;
    position: absolute;
    left: 16.7rem;
    top: 65rem;

    .google-logo-SmB {
      margin: 0rem 0.751rem 0.107rem 0rem;
      width: 2.1485rem;
      height: 2.193rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .google-hSD {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .whatsapp-image-2023-05-13-at-2111-2-p13 {
    position: absolute;
    left: 5.5rem;
    top: 11.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 30.4rem;
    height: 14.9rem;
  }
}
