
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.login-phone-number-user-gq3 {
  width: 100%;
  height: 73.6rem;
  position: relative;
  overflow: hidden;
  background-color: #fffbfb;

  .status-bar-uho {
    width: 38.1rem;
    height: 3.3rem;
    position: absolute;
    left: 1.4rem;
    top: 0.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-cm1d-rmT {
    display: flex;
    align-items: center;
    width: 24.4rem;
    height: 3.8rem;
    position: absolute;
    left: 9.1rem;
    top: 29.6rem;

    .auto-group-cf1u-6A1 {
      font-size: 1.5rem;
      color: #607548;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      flex-shrink: 0;
      width: 12.2rem;
      height: 100%;
      font-weight: 600;
      line-height: 1.26;
      display: flex;
      align-items: center;
      background-color: #c9d3bf;
    }
    .auto-group-5rfy-SdB {
      background-color: #9eab6b;
      font-size: 1.5rem;
      color: #fffbfb;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 12.2rem;
      height: 100%;
      font-weight: 600;
      line-height: 1.26;
      display: flex;
    }
  }
  .auto-group-ymqx-TYH {
    box-sizing: border-box;
    width: 33.8rem;
    height: 6.4rem;
    left: 3.9rem;
    line-height: 1.26;
    padding: 2.3rem 1.9rem;
    top: 35.6rem;
    font-size: 1.4rem;
    color: #6e6e6e;
    white-space: nowrap;
    background-color: #c8d3be;
    position: absolute;
    font-weight: 400;
    font-family: Outfit, 'Source Sans Pro';
  }
  .auto-group-yuzw-xtM {
    position: absolute;
    left: 3.8rem;
    top: 43.5rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 1.7rem 2rem 2rem;
    height: 6.4rem;
    width: 33.8rem;
    background-color: #c9d3bf;

    .password-nMb {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.26;
      color: #6e6e6e;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 21.7rem;
    }
    .icvisibility48px-Sh3 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  .auto-group-xo1d-jw3 {
    width: 31.6rem;
    height: 6rem;
    position: absolute;
    left: 4.9rem;
    top: 52.9rem;

    .login-DLR {
      left: 13.6rem;
      top: 2.3rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.26;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      height: 2.3rem;
      color: #ffffff;
      width: 4.9rem;
    }
    .component-6-eAq {
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      border-radius: 10rem;
      position: absolute;
      font-weight: 600;
      line-height: 1.26;
      height: 6rem;
      font-family: Outfit, 'Source Sans Pro';
      background-color: #9eab6b;
      width: 31.6rem;
      font-size: 1.8rem;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      cursor: pointer;
    }
  }
  .auto-group-4wib-nRT {
    width: 25.1rem;
    height: 4.1rem;
    position: absolute;
    left: 1.8rem;
    top: 5.5rem;

    .login-account-FK3 {
      width: 14.3rem;
      height: 2.4rem;
      top: 0;
      line-height: 1.175;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 0;
      font-size: 2rem;
      font-weight: 700;
      color: #607548;
    }
    .user-sLR {
      position: absolute;
      left: 14.6rem;
      top: 0.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
      height: 1.9rem;
    }
    .hello-welcome-back-to-your-account--mwb {
      left: 0;
      top: 2.1rem;
      font-size: 1.3rem;
      font-family: Poppins, 'Source Sans Pro';
      height: 2rem;
      position: absolute;
      line-height: 1.5;
      color: #626262;
      white-space: nowrap;
      width: 25.1rem;
      font-weight: 400;
    }
  }
  .auto-group-yxtr-4pD {
    position: absolute;
    left: 4.9rem;
    top: 61.9rem;
    display: flex;
    column-gap: 1.3rem;
    align-items: center;
    width: 31.6rem;
    height: 1.6rem;

    .vector-4-wt1 {
      width: 10.5rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.2rem;
    }
    .or-sign-up-with-EMK {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.26;
      color: #747070;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .vector-3-i1b {
      flex-shrink: 0;
      margin-bottom: 0.2rem;
      width: 10.5rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .not-register-yet-create-account-Rwb {
    white-space: nowrap;
    align-items: baseline;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #626262;
    cursor: pointer;
    font-family: Poppins, 'Source Sans Pro';
    display: flex;
    width: 19.3rem;
    height: 1.7rem;
    position: absolute;
    left: 11rem;
    top: 68rem;

    .not-register-yet-create-account-Rwb-sub-0 {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.26;
      color: #626262;
      font-family: Outfit, 'Source Sans Pro';
    }
    .not-register-yet-create-account-Rwb-sub-1 {
      font-weight: 600;
      line-height: 1.26;
      color: #000000;
      font-family: Outfit, 'Source Sans Pro';
      font-size: 1.3rem;
    }
  }
  .auto-group-tt6b-jmF {
    align-items: flex-end;
    width: 8rem;
    height: 2.3rem;
    position: absolute;
    left: 16.1rem;
    top: 64.6rem;
    display: flex;

    .google-logo-ECD {
      flex-shrink: 0;
      margin: 0rem 0.751rem 0.107rem 0rem;
      width: 2.1485rem;
      height: 2.193rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .google-Jhs {
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.4rem;
    }
  }
  .whatsapp-image-2023-05-13-at-2111-2-Z81 {
    top: 11.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 30.4rem;
    height: 14.9rem;
    position: absolute;
    left: 6.1rem;
  }
}
