
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.pop-up-succes-NwF {
  position: relative;
  overflow: hidden;
  background-color: #9eab6b;
  width: 100%;
  height: 73.6rem;

  .status-bar-31o {
    object-fit: contain;
    vertical-align: top;
    width: 38.1rem;
    height: 3.3rem;
    position: absolute;
    left: 1.4rem;
    top: 0.5rem;
  }
  .rectangle-48-vrH {
    width: 33rem;
    height: 23.1rem;
    position: absolute;
    left: 4rem;
    top: 25.2rem;

    .rectangle-48-Ysf {
      border-radius: 2.5rem;
      width: 100%;
      height: 23.1rem;
      background-color: #c9d3bf;
    }
  }
  .vector-GHs {
    position: absolute;
    left: 3.1rem;
    top: 6.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.0092rem;
    height: 1.5633rem;
    cursor: pointer;
  }
  .check-Znm {
    top: 30rem;
    object-fit: contain;
    vertical-align: top;
    width: 6.6rem;
    height: 6.8rem;
    position: absolute;
    left: 17.4rem;
  }
  .successed-S5s {
    color: #607548;
    width: 10.3rem;
    height: 2.3rem;
    position: absolute;
    line-height: 1.26;
    font-family: Outfit, 'Source Sans Pro';
    white-space: nowrap;
    left: 15.5rem;
    top: 39.1rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
}
