
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.register-inh {
  padding: 0.5rem 1.9rem 5.1rem 1.4rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  background-color: #fffbfb;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;

  .status-bar-6YM {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 1.4rem;
    width: 38.1rem;
    height: 3.3rem;
  }
  .auto-group-pyns-XNm {
    flex-shrink: 0;
    margin: 0rem 19.6rem 0rem 1.1rem;
    width: calc(100% - 20.7rem);
    display: flex;
    align-items: center;

    .create-account-BiD {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.175;
      color: #607548;
      font-family: Raleway, 'Source Sans Pro';
    }
    .user-HFT {
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2rem;
      height: 1.9rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .hello-welcome--LzR {
    flex-shrink: 0;
    margin: 0rem 24.8rem 1.1rem 0rem;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #626262;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
  .whatsapp-image-2023-05-13-at-2111-1-LN9 {
    height: 14.9rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 0rem 3.7rem 0.3rem;
    width: 30.4rem;
  }
  .component-5-yR7 {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 1.9rem 1.9rem 2.4rem;
    width: calc(100% - 4.3rem);
    line-height: 1.26;
    color: #6e6e6e;
    font-family: Outfit, 'Source Sans Pro';
    background-color: #c9d3bf;
    box-sizing: border-box;
    padding: 2.3rem 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .auto-group-7vc7-68M {
    box-sizing: border-box;
    padding: 2.3rem 1.6rem;
    font-weight: 400;
    color: #6e6e6e;
    background-color: #c9d3bf;
    margin: 0rem 1.9rem 1.9rem 2.4rem;
    font-size: 1.4rem;
    line-height: 1.26;
    font-family: Outfit, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    width: calc(100% - 4.3rem);
  }
  .auto-group-s37q-t4D {
    width: calc(100% - 4.3rem);
    font-size: 1.4rem;
    font-family: Outfit, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 1.9rem 1.9rem 2.4rem;
    box-sizing: border-box;
    padding: 2.3rem 1.6rem;
    white-space: nowrap;
    background-color: #c9d3bf;
    font-weight: 400;
    line-height: 1.26;
    color: #6e6e6e;
  }
  .auto-group-hnbd-hnM {
    margin: 0rem 1.9rem 3.2rem 2.4rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    color: #6e6e6e;
    white-space: nowrap;
    background-color: #c9d3bf;
    flex-shrink: 0;
    padding: 2.3rem 1.6rem;
    width: calc(100% - 4.3rem);
    font-weight: 400;
    line-height: 1.26;
    font-family: Outfit, 'Source Sans Pro';
  }
  .auto-group-rjmm-Wjo {
    white-space: nowrap;
    color: #ffffff;
    font-family: Outfit, 'Source Sans Pro';
    border-radius: 10rem;
    width: calc(100% - 24rem);
    line-height: 1.26;
    align-items: center;
    justify-content: center;
    background-color: #9eab6b;
    flex-shrink: 0;
    font-weight: 600;
    display: flex;
    font-size: 1.8rem;
    margin: 0rem 11.8rem 0rem 12.2rem;
    height: 4.7rem;
  }
}
