
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 10.3rem;
}.headline-2-AA9 {
  width: 100%;
  height: 2.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.175;
  color: #ffffff;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
}
