
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.kolom-pengaduan-kbo {
  box-sizing: border-box;
  padding: 0rem 0.1rem 15.3rem 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fffbfb;
}
.kolom-pengaduan-kbo .status-bar-iww {
  margin: 0rem 1.3rem 2.4rem 0rem;
  width: 39.9rem;
  height: 3.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kolom-pengaduan-kbo .auto-group-odns-x5b {
  margin: 0rem 20.3rem 1.8rem 2.6rem;
  width: calc(100% - 22.9rem);
  height: 2.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kolom-pengaduan-kbo .auto-group-odns-x5b .auto-group-am8p-DXK {
  box-sizing: border-box;
  padding-right: 0.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kolom-pengaduan-kbo .auto-group-odns-x5b .auto-group-am8p-DXK .vector-CnZ {
  margin: 0rem 1.091rem 0.037rem 0rem;
  width: 1.0092rem;
  height: 1.5633rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kolom-pengaduan-kbo .auto-group-odns-x5b .auto-group-am8p-DXK .kritik-saran-XTT {
  margin-bottom: 0.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.175;
  color: #2b461f;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kolom-pengaduan-kbo .auto-group-odns-x5b .b2ap3largepengaduan-1-kr1 {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.kolom-pengaduan-kbo .whatsapp-image-2023-05-13-at-2111-1-EFP {
  margin-bottom: 2.3rem;
  width: 30.4rem;
  height: 14.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.kolom-pengaduan-kbo .auto-group-bvab-dHX {
  margin: 0rem 3.3rem 8rem 4.8rem;
  width: calc(100% - 8.1rem);
  height: 19.8rem;
  position: relative;
  flex-shrink: 0;
}
.kolom-pengaduan-kbo .auto-group-bvab-dHX .rectangle-36-59X {
  width: 29.8rem;
  height: 19.8rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 3rem;
}
.kolom-pengaduan-kbo .auto-group-bvab-dHX .kritik-dan-saran-jjs {
  width: 10.1rem;
  height: 1.8rem;
  position: absolute;
  left: 10.4rem;
  top: 9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.26;
  color: #6e6e6e;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
}
.kolom-pengaduan-kbo .auto-group-adgp-YSR {
  margin: 0rem 15.9rem 0rem 15.6rem;
  width: calc(100% - 31.5rem);
  height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.26;
  color: #ffffff;
  font-family: Outfit, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #607548;
  border-radius: 10rem;
  flex-shrink: 0;
}
