
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 17.9rem;
}.poppins-medium-button-15-5Kj {
  width: 100%;
  height: 5rem;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.175;
  color: #909090;
  font-family: Raleway, 'Source Sans Pro';
}
