
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13rem;
}.rectangle-1096-Rmw {
  width: 100%;
  height: 10.9rem;
  background-color: #9eab6b;
  border-radius: 2.5rem;
}
